/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap');
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
  font-family: 'rubik', serif;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* scroll styling */
body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: #FDC27A;
}

body::-webkit-scrollbar-thumb {
  background: #FFE7CA;
}

body { background-color: #F2F6F7;}

app-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}

app-tag-make-order,
app-register-form,
app-tag-order-delivered,
app-order-for-cook,
app-order-cooked {
  display: inline-block;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

/* app-order-for-cook,
app-order-cooked{ 
  background-color: #F2F6F7;
} */

app-root {
  height: 100vh;
  width: 100%;
  display: inline-block;
}

app-navbar {
  transition: width 600ms ease;
  position: fixed;
  width: 5rem;
  height: 100%;
  top: 0;
  width: 5rem;
}

app-navbar:hover {
  width: 16rem;
}

app-order-table > * + * {
  margin-top: 2rem;
}

app-order-for-cook main,
app-order-cooked main {
  margin-left: 5rem;
  padding: 0 2rem 1.5rem 2rem;
}

app-order-for-cook h2 {
  text-align: center;
  color: #1c5763;
  padding-block: 1rem;
}

@media (min-width: 950px) {
  app-order-table {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
  }
  
  app-order-table .table-container {
    flex: 1 1 400px;
    margin-top: 0;
  }
}