.make-order {
  background-color: #F2F6F7;
  padding: 1.5em;
  width: 85%;
}

/* .flex {
    display: flex;
}
 */
h1, p {
  font-family: 'Rubik';
  color: #104E5B;
}
h1 {
  text-align: center;
}

.make-order-date > * + * {
  margin-bottom: 1em;
}

.information-day p{
  font-size: 14px;
 } 

.options-button {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5em;
}

app-button-menu {
  width: 45%;
}

/* app-navbar {
    max-width: 150px;
    width: 50%;
} */
