.make-order {
  background-color: #F2F6F7;
  padding: 1.5em;
/*   width: 100vw;
  height: 100%; */
  margin-left: 5rem;
}
h1, h2, p {
  font-family: 'Rubik';
  color: #104E5B;
}
h1 {
  text-align: center;
  font-weight: 700;
}
h2 {
  font-weight: 600;
  font-size: 24px;
  margin: 44px 0 13px;
}
.make-order-date > * + * {
  margin: 11px 0 27px;
}
.information-day p{
  font-weight: 400;
  font-size: 18px;
 }
.options-button {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5em;
}
app-button-menu {
  width: 45%;
}
.maker-oder-buttons {
  display: flex;
  justify-content: center;
  gap: 33px;
  margin: 33px;
}
/* modif */
app-navbar {
  transition: width 600ms ease;
  /* overflow: scroll; */
  position: fixed;
  width: 5rem;
  height: 100%;
  top: 0;
  width: 5rem;
}
app-navbar:hover {
  width: 16rem;
}
