<app-navbar></app-navbar>
<main class="make-order flex">
  <h1>Menú</h1>
  <div class="information-day" >
    <p>Fecha del día</p>
    <p>Hora del día</p>
  </div>
  <div class="options-button" >
    <app-button-menu
    text = "Desayuno"
    (btnClick)="showBreakfast()"
    ></app-button-menu>
    <app-button-menu
    text = "Almuerzo y cena"
    (btnClick)="showLunch()"
    ></app-button-menu>
  </div>
  <app-category></app-category>
  <h2>Relizar pedido</h2>
  <app-order-summary></app-order-summary>
  <app-button
    text = "Confirmar">
  </app-button>
  <app-button
    text = "Cancelar"
  ></app-button>
</main>
