<img src="../../../assets/images/bgLogin.png" alt="logo"/>
<main>
    <div>
      <h1>Iniciar sesión</h1>
      <p>Bienvenido, te hemos extrañado!</p>
      <p class="login-error-txt">{{text}}</p>
    </div>
    <form>
        <input class="input" type="email" placeholder="Email" #userName required>
        <input class="input" type="password" placeholder="Contraseña" #userPassword required>
        <button type="button" (click)="signInMessageError(userName.value, userPassword.value)" >Iniciar sesión</button>
    </form>
</main>
