h1, p, button, input::placeholder{
  font-family: 'Rubik', sans-serif;
  color: #104E5B;
}
h1 {
  font-weight: 500;
  font-size: 36px;
  margin: 0 0 11px;
}
p {
  font-weight: 400;
  font-size: 22px;
}

.login-error-txt {
  font-size: 18px;
  color: rgb(233, 82, 82);
}

img {
  margin-top: -22px;
}
main {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 55px 0 0;
}
main div {
  display: flex;
  flex-direction: column;
  margin-right: 190px;
}
form {
  display: flex;
  flex-direction: column;
  gap: 44px;
  margin: 33px 0;
}
form button {
  margin-top: 11px;
  width: 522px;
  height: 55px;
  background: #FDC27A;
  border-radius: 14px;

  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  text-align: center;
  color: #104E5B;
  border: none;
  outline: none;
  cursor: pointer;
}

form button:hover {
  opacity: .8;
}

.input {
  border: 1px solid #bebebe;
  border-radius: .5em;
  padding: .5em .5em;
  color: #454F59;
}
.input, .input::placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;

  color: #737F8B;
}
