.menu-items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10%;
    gap: 1.5em 0%;
}

app-menu-item {
    color: #104E5B;
    line-height: 1;
    display: flex;
    justify-content: center;
}

.options-button {
    display: flex;
    justify-content: space-around;
    margin-bottom: 1.5em;
  }
  app-button-menu {
    width: 40%;
  }