button {
  width: 100%;
  background-color: transparent;
  cursor: pointer;
  border: 0;
  border-bottom:  2px solid #FDC27A;

  font-family: 'Rubik';
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  color: #104E5B;
}
