<nav class="navigation flex">
  <input id="nav__toggle" type="checkbox"/>
  <label class="nav__button" for="nav__toggle" >
      <fa-icon [icon]="faBars"></fa-icon>
  </label>

    <div class="nav-main">
        <div class="nav-user-rol">
            <p class="nav-user-name" >username</p>
            <p class="nav-user-rol">role</p>
        </div>
        <ul class="flex">
            <li><a routerLink="/order">RP</a></li>
            <li><a routerLink="/deliver">PE</a></li>
        </ul>
    </div>
   <span (click)="authService.SignOut()"><fa-icon [icon]="logout"></fa-icon></span>
</nav>
