<nav class="navigation">
    <ul class="nav-items">
        <li class="logo">
            <span class="nav-link">
                <span class="link-text logo-text">BurguerQueen</span>
                <fa-icon [icon]="faBars"></fa-icon>
            </span>
        </li>
        <li class="nav-item">
            <span class="nav-link">
                <fa-icon [icon]="user"></fa-icon>
                <span class="link-text">{{username}}-{{role}}</span>
            </span>
        </li>
        <li class="nav-item nav-tab"  *ngFor = "let navTab  of navbarTabs" >
            <a routerLink={{navTab.link}}  class="nav-link">
                <span class="nav-text-icon">{{navTab.textS}}</span>
                <span class="link-text">{{navTab.text}}</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link"  (click)="authService.SignOut()">
                <fa-icon [icon]="logout" ></fa-icon>
                <span class="link-text">Cerrar sesion</span>
            </a>
        </li>
    </ul>
</nav>