.navigation {
    font-family: 'rubik', serif;
    font-weight: 400;
    background-color: #FDC27A;
    color: #104E5B;
    height: 100%;
    /* padding: 1em .5em; */
    text-align: center;

    /* position: fixed;
    transition: width 600ms ease; */

}

/* .navigation:hover {
  width: 160px;
  overflow: visible;
} */

.nav-user-name, .nav-user-rol {
    font-size: 15px;
    font-weight: 600;
}

/* .nav-user-rol {
    margin: 2.5em 0;
} */

.nav-item:last-child {
  margin-top: auto;
}

/* a:hover,
a:focus {
    color: #3d65aa;
}

.flex {
    display: flex;
    flex-direction: column;
} */

.nav-items {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}
.nav-item {
  width: 100%;
}

.nav-link {
  display: flex;
  align-items: center;
  height: 5rem;
}

.link-text {
  display: none;
  margin-left: 1rem;
}

/* nav ul {
    font-size: 14px;
    list-style: none;
    padding: 0;
    justify-content: center;
} */

nav a {
    text-decoration: none;
    color: #104E5B;
    font-size: 16px;
    font-weight: 700;
    /* padding: .25em 0; */
}
 
.nav-link fa-icon, .nav-link .nav-text-icon {
  width: 2rem;
  min-width: 2rem;
  margin: 0 1.5rem;
}

.logo {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
  text-align: center;
  font-size: 1.5rem;
  letter-spacing: 0.3ch;
  width: 100%;
}

.logo fa-icon {
  transform: rotate(0deg);
  transition: 600ms;
}

.logo-text {
  display: inline;
  position: absolute;
  left: -999px;
  transition: 600ms;
}


.navigation:hover .logo fa-icon {
  transform: rotate(-180deg);
}

.navigation:hover .link-text {
  display: inline;
}

.navigation:hover .logo fa-icon
  {
    margin-left: 11rem;
  }

.navigation:hover .logo-text
{
  left: 0px;
}