<div class="order-summary">
  <div class="order-summary-inputs"  >
   <app-input
    label = "Cliente"
    type = "text"
    placeholder= "Susana"
    ></app-input>
    <app-input
    label = "N° de mesa"
    type = "text"
    placeholder= "N° 1"
    ></app-input>
  </div>
<table>
  <thead class="table-head" >
    <tr>
      <th>Producto</th>
      <th>Unidades</th>
      <th>Precio</th>
      <th></th>
    </tr>
  </thead>
  <tbody class="table-body" >
    <tr>
        <td>Café americano</td>
        <td>
          <div class="table-counter" >
            <span>+</span>
            <p>1</p>
            <span>-</span>
          </div>
        </td>
        <td>5.90</td>
        <td class="table-trash" >
          <fa-icon [icon]="trash"></fa-icon>
        </td>
    </tr>
    <tr>
      <td>Café americano</td>
      <td>
        <div class="table-counter" >
          <span>+</span>
          <p>1</p>
          <span>-</span>
        </div>
      </td>
      <td>5.90</td>
      <td class="table-trash" >
        <fa-icon [icon]="trash"></fa-icon>
      </td>
  </tr>
  </tbody>
  <tfoot class="table-total" >
    <tr>
      <td>Total</td>
      <td></td>
      <td>$5.90</td>
    </tr>
  </tfoot>
</table>
</div>
