<div>
  <app-input
  [label] = "label"
  [label2] = "label2"
  [type] = "type"
  [type2] = "type2"
  >{{label}}</app-input>
  <table>
      <tr>
        <th>Producto</th>
        <th>Unidades</th>
        <th>s./</th>
      </tr>
      <tr>
          <td>cafe</td>
          <td>
              <span>+</span>
              <p>1</p>
              <span>-</span>
          </td>
          <td>5.90</td>
      </tr>
      <tr>
          <td>Total</td>
          <td></td>
          <td>$5.90</td>
      </tr>
  </table>
</div>
